[package]
name = "zkvm"
version.workspace = true
rust-version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
alloy = { workspace = true }
anyhow = { workspace = true }
thiserror = { workspace = true }
risc0-zkvm = { workspace = true }
risc0-binfmt = { workspace = true }

# TODO: https://github.com/InfinityVM/InfinityVM/issues/120
# sp1-zkvm = { workspace = true }
# sp1-sdk = { workspace = true }

[dev-dependencies]
alloy = { workspace = true, features = ["full", "contract", "transport-http", "transport-ws", "network", "providers", "pubsub", "signer-local", "signer-keystore", "rpc-types-debug", "rpc-types-trace", "json-rpc", "rpc-client", "rlp", "sol-types"] }
mock-consumer = { workspace = true }