[package]
name = "clob-sp1-guest"
version = "0.1.0"
edition = "2021"

[workspace]

[dependencies]
sp1-zkvm = { git = "https://github.com/succinctlabs/sp1.git", rev = "f9640e8", features = ["libm", "lib"], default-features = false }
alloy = { version = "0.6", features = ["sol-types"], default-features = false }
borsh = { version = "1", default-features = false }
clob-core = { path = "../../core" }
ivm-abi = { path = "../../../../crates/sdk/abi" }
