.DS_Store
.idea/

# Compiler files
contracts/cache/
contracts/out/
contracts/data/

# Ignores development broadcast logs
!/contracts/broadcast
contracts/broadcast/*/31337/
contracts/broadcast/**/dry-run/

# Dotenv file
contracts/.env
