.DS_Store
.idea/

# Compiler files
contracts/cache/
contracts/out/
contracts/data/

# Ignores development broadcast logs
contracts/broadcast/**

# Dotenv file
contracts/.env
crates/scripts/.env
test-load/.env

programs/**/methods/Cargo.lock
programs/**/program/target
programs/**/program/elf
**/target/
/debug/
tmp-data-dir/
logs/

# ide
.idea

# Load testing report
report.html
