[package]
name = "coprocessor-node"
version.workspace = true
rust-version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
alloy = { workspace = true, features = ["reqwest"] }
tonic = { workspace = true }
tonic-reflection = { workspace = true }
tokio = { workspace = true }
clap = { workspace = true }
thiserror = { workspace = true }
home = { workspace = true }
tracing = { workspace = true }
k256 = { workspace = true }
reth-db = { workspace = true }
tracing-subscriber = { workspace = true}
async-channel = { workspace = true }
futures-util = { workspace = true }

prometheus = { workspace = true }
axum = { workspace = true }
contracts = { path = "../contracts" }
db = { path = "../db" }
proto = { path = "../proto" }
zkvm-executor = { path = "../zkvm-executor" }

[dev-dependencies]
test-utils = { path = "../test-utils" }
