[package]
name = "ivm-exec"
rust-version.workspace = true
edition.workspace = true
version.workspace = true

[lints]
workspace = true

[dependencies]
reth = { workspace = true, features = ["jemalloc", "asm-keccak", "min-info-logs"] }
reth-node-ethereum = { workspace = true }
reth-ethereum-engine-primitives = { workspace = true }

alloy = { workspace = true }
eyre = { workspace = true  }
tokio = { workspace = true }
tracing = { workspace = true }