[package]
name = "ivm-exec"
rust-version.workspace = true
edition.workspace = true
version.workspace = true

[lints]
workspace = true

[dependencies]
reth = { workspace = true, features = ["jemalloc", "asm-keccak", "min-info-logs"] }
reth-node-ethereum = { workspace = true }
reth-evm-ethereum = { workspace = true }
reth-ethereum-engine-primitives = { workspace = true }
reth-node-core = { workspace = true }
reth-node-api = { workspace = true }
reth-tracing = { workspace = true }

# revm-primitives = { version = "14.0.0", default-features = false }

# hack to try and ensure optional balance check and gas refund get built in
revm = { version = "*", default-features = false, features = [
	"optional_balance_check", "optional_gas_refund",
	 "asm-keccak", "std",
] }

alloy = { workspace = true, features = ["genesis"] }
eyre = { workspace = true  }
tokio = { workspace = true }
tracing = { workspace = true }
clap = { workspace = true }
toml = { workspace = true }
serde = { workspace = true }

[dev-dependencies]
reth-provider = { workspace = true, features = ["test-utils"] }
reth-revm = { workspace = true }
reth-evm = { workspace = true }
alloy = { workspace = true, features = ["consensus", "signer-local", "network"] }
# This is a bit hacky since we normally use the alloy facade crate, but a reth
# type expects a trait from this crate
alloy-eips = { version = "0.7.3", default-features = false }
