[package]
name = "ivm-exec"
rust-version.workspace = true
edition.workspace = true
version.workspace = true

[lints]
workspace = true

[dependencies]
# only use reth for CLI
reth = { workspace = true }
reth-node-builder = { workspace = true }
reth-node-ethereum = { workspace = true }
reth-evm-ethereum = { workspace = true }
reth-ethereum-engine-primitives = { workspace = true }
reth-node-api = { workspace = true }
reth-evm = { workspace = true }
reth-primitives-traits = { workspace = true }
reth-chainspec = { workspace = true }
reth-revm = { workspace = true }
reth-network = { workspace = true }
reth-rpc = { workspace = true }
reth-primitives = { workspace = true }
reth-transaction-pool = { workspace = true }
reth-payload-validator = { workspace = true }
reth-tasks = { workspace = true }
reth-provider = { workspace = true }
reth-ethereum-cli = { workspace = true }
reth-cli-util = { workspace = true }

revm = { workspace = true }

alloy-rpc-types = { workspace = true }
alloy-primitives = { workspace = true }
alloy-eips = { workspace = true }
alloy-consensus = { workspace = true }

eyre = { workspace = true  }
tokio = { workspace = true }
tracing = { workspace = true }
clap = { workspace = true }
toml = { workspace = true }
serde = { workspace = true }

[dev-dependencies]
reth-provider = { workspace = true, features = ["test-utils"] }
k256 = { workspace = true }
alloy-signer-local = { workspace = true }
alloy-network = { workspace = true }

[build-dependencies]
vergen-git2 = { workspace = true }

[features]
default = ["min-trace-logs", "asm-keccak", "jemalloc"]

min-error-logs = ["tracing/release_max_level_error"]
min-warn-logs = ["tracing/release_max_level_warn"]
min-info-logs = ["tracing/release_max_level_info"]
min-debug-logs = ["tracing/release_max_level_debug"]
min-trace-logs = ["tracing/release_max_level_trace"]

asm-keccak = [
	"reth-primitives/asm-keccak",
	"alloy-primitives/asm-keccak"
]

jemalloc = [
    "reth-cli-util/jemalloc",
]