[package]
name = "coprocessor-node"
version.workspace = true
rust-version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
alloy = { workspace = true, features = ["reqwest"] }
tonic = { workspace = true }
tonic-reflection = { workspace = true }
tracing-subscriber = {workspace = true}
tracing-appender = { workspace = true }
prost = { workspace = true }
tokio = { workspace = true }
clap = { workspace = true }
thiserror = { workspace = true }
home = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }
k256 = { workspace = true }
reth-db = { workspace = true }
base64 = { workspace = true }
async-channel = { workspace = true }

contracts = { path = "../contracts" }
db = { path = "../db" }
proto = { path = "../proto" }
zkvm = { path = "../zkvm" }
zkvm-executor = { path = "../zkvm-executor" }

[dev-dependencies]
test-utils = { path = "../test-utils" }
