[package]
name = "eip4844"
version.workspace = true
rust-version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
alloy = { workspace = true, features = ["consensus"] }
thiserror = { workspace = true }
