[package]
name = "matching-game-sp1-guest"
version = "0.1.0"
edition = "2021"

[workspace]

[dependencies]
sp1-zkvm = { git = "https://github.com/succinctlabs/sp1.git", rev = "15be73d3acae3718a0acc529ed566f6a448b1c0e", features = ["libm", "lib"], default-features = false }
alloy = { version = "0.6", features = ["sol-types"], default-features = false }
bincode = { version = "1.3", default-features = false }
matching-game-core = { path = "../../core" }
ivm-abi = { path = "../../../../crates/sdk/abi" }
sha2 = { version = "0.10", default-features = false }
kairos-trie = { git = "https://github.com/cspr-rad/kairos-trie.git", features = ["serde"] }
