[package]
name = "scripts"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { workspace = true }
alloy = { workspace = true }
k256 = { workspace = true }
dotenv = { workspace = true }

proto = { path = "../proto" }
coprocessor-node = { path = "../coprocessor-node" }
zkvm-executor = { path = "../zkvm-executor" }
db = { path = "../db" }

[lints]
workspace = true
