[package]
name = "scripts"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { workspace = true }
alloy = { workspace = true }
k256 = { workspace = true }
dotenv = { workspace = true }

proto = { workspace = true }
zkvm-executor = { workspace = true }
db = { workspace = true }
abi = { workspace = true }

[lints]
workspace = true
