name: docker-exec

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

env:
  PROJECT_ID: infinityvm-core-artifacts
  REGION: us
  GAR_LOCATION: us-docker.pkg.dev/infinityvm-core-artifacts/docker

jobs:
  docker-release:
    name: Docker release to Google Artifact Registry
    runs-on: ubicloud-standard-16

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - id: auth
        name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          workload_identity_provider: 'projects/454197732139/locations/global/workloadIdentityPools/github-pool/providers/github-actions-provider'
          service_account: github-actions@infinityvm-core-artifacts.iam.gserviceaccount.com
      - name: Login to Artifact Registry
        uses: docker/login-action@v3
        with:
          registry: us-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - uses: technote-space/get-diff-action@v6.1.2
        id: diff
        with:
          PATTERNS: |
            bin/exec/**
          FILES:  |
            .github/workflows/docker-exec.yml
            Dockerfile.exec

      - name: Docker Metadata Pull
        id: meta
        if: env.GIT_DIFF || github.event_name == 'workflow_dispatch'
        uses: docker/metadata-action@v5
        with:
          images: |
            us-docker.pkg.dev/infinityvm-core-artifacts/docker/coproc
          tags: |
            type=semver,pattern={{version}}
            type=sha,enable=true,priority=100,prefix=,suffix=,format=long
            type=ref,enable=true,priority=600,prefix=,suffix=,event=branch
            type=ref,enable=true,priority=600,prefix=pr-,suffix=,event=pr
            type=ref,enable=true,priority=600,prefix=,suffix=,event=tag

      - id: docker-push-coproc
        name: Tag Docker image and push to Google Artifact Registry
        uses: docker/build-push-action@v6
        if: env.GIT_DIFF || github.event_name == 'workflow_dispatch'
        with:
          context: .
          file: Dockerfile.exec
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
