name: lint

on:
  pull_request:
  merge_group:
  push:
    branches: [main]

jobs:
  codespell:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: codespell-project/actions-codespell@v2
        with:
          skip: ".lock"
          ignore_words_file: .codespellignore
