name: rust

on:
  pull_request:
  merge_group:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
      - uses: dtolnay/rust-toolchain@1.79.0
      - uses: taiki-e/install-action@cargo-binstall
      - run: cargo binstall cargo-risczero -y
      - run: cargo risczero install
      - run: cargo risczero --version
      - run: cd rust && cargo build --workspace --all-targets --examples --tests

  test:
    name: test
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
      - uses: dtolnay/rust-toolchain@1.79.0
      - uses: taiki-e/install-action@cargo-binstall
      - run: cargo binstall cargo-risczero -y
      - run: cargo risczero install
      - run: cargo risczero --version
      - run: make -C rust test-all

  clippy:
    name: clippy
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
      - uses: dtolnay/rust-toolchain@clippy
      - run: make -C rust clippy-ci

  fmt:
    name: fmt
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - run: make -C rust fmt-ci

  docs:
    name: docs
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
      - uses: dtolnay/rust-toolchain@nightly
      - uses: taiki-e/install-action@cargo-binstall
      - run: cargo binstall cargo-risczero -y
      - run: cargo risczero install
      - run: cargo risczero --version
      - run: make -C rust doc-ci
