name: rust

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#patterns-to-match-file-paths
on:
  push:
    branches:
      - main
    paths:
      - "**.rs"
      - "**.lock"
      - "**.toml"
      - ".github/**"
  pull_request:
    paths:
      - "**.rs"
      - "**.lock"
      - "**.toml"
      - ".github/**"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  FOUNDRY_PROFILE: ci

jobs:
  build_clippy:
    name: build+clippy
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: common setup
        uses: ./.github/actions/setup

      - run: cargo build --workspace --all-targets

      - run: make clippy-ci

  test:
    name: test
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: common setup
        uses: ./.github/actions/setup

      - run: make test-all

  fmt:
    name: fmt
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt

      - run: make fmt-ci

  docs:
    name: docs
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: common setup
        uses: ./.github/actions/setup

      - run: make doc-ci

  unused-deps:
    name: unused deps
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: dtolnay/rust-toolchain@nightly

      - run: cargo install cargo-machete

      - run: cargo machete


  ethos-reth:
    name: ethos-reth
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: technote-space/get-diff-action@v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            bin/ethos-reth/Cargo.*
            bin/ethos-reth/src/**/*.rs
            bin/ethos-reth/src/*.rs

      - name: common setup
        if: env.GIT_DIFF
        uses: ./.github/actions/setup

      - uses: dtolnay/rust-toolchain@nightly
        if: env.GIT_DIFF
        with:
          components: rustfmt, clippy

      - run: |
          cd bin/ethos-reth
          cargo +nightly fmt --all --check
          RUSTFLAGS="-D warnings" cargo clippy 
          cargo build --release
        if: env.GIT_DIFF