name: rust

on:
  pull_request:
  merge_group:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  FOUNDRY_PROFILE: ci

jobs:
  build_clippy:
    name: build+clippy
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: technote-space/get-diff-action@v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            rust/**

      - name: common setup
        if: env.GIT_DIFF
        uses: ./.github/actions/setup

      - run: cd rust && cargo build --workspace --all-targets
        if: env.GIT_DIFF

      - run: make -C rust clippy-ci
        if: env.GIT_DIFF

  test:
    name: test
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: technote-space/get-diff-action@v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            rust/**

      - name: common setup
        if: env.GIT_DIFF
        uses: ./.github/actions/setup

      - run: make -C rust test-all
        if: env.GIT_DIFF

  fmt:
    name: fmt
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: technote-space/get-diff-action@v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            rust/**

      - uses: dtolnay/rust-toolchain@nightly
        if: env.GIT_DIFF
        with:
          components: rustfmt

      - run: make -C rust fmt-ci
        if: env.GIT_DIFF

  docs:
    name: docs
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: technote-space/get-diff-action@v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            rust/**

      - name: common setup
        if: env.GIT_DIFF
        uses: ./.github/actions/setup

      - run: make -C rust doc-ci
        if: env.GIT_DIFF

  ethos-reth:
    name: ethos-reth
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: technote-space/get-diff-action@v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            rust/bin/ethos-reth/Cargo.*
            rust/bin/ethos-reth/src/**/*.rs
            rust/bin/ethos-reth/src/*.rs

      - name: common setup
        if: env.GIT_DIFF
        uses: ./.github/actions/setup

      - uses: dtolnay/rust-toolchain@nightly
        if: env.GIT_DIFF
        with:
          components: rustfmt, clippy

      - run: |
          cd rust/bin/ethos-reth
          cargo +nightly fmt --all --check
          RUSTFLAGS="-D warnings" cargo clippy 
          cargo build --release
        if: env.GIT_DIFF