name: rust

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#patterns-to-match-file-paths
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  FOUNDRY_PROFILE: ci

jobs:
  build_clippy:
    name: build+clippy
    runs-on: ubicloud-standard-4
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: technote-space/get-diff-action@v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            **/*.toml
            **/*.lock
            **/*.rs
            .github/**

      - name: common setup
        if: env.GIT_DIFF
        uses: ./.github/actions/setup

      - name: Build SP1 programs
        if: env.GIT_DIFF
        run: |
          cd programs/sp1/mock-consumer/program && cargo prove build --elf-name mock-consumer-sp1-guest
          cd ../../intensity-test/program && cargo prove build --elf-name intensity-test-sp1-guest
          cd ../../..

      - run: cargo build --workspace --all-targets
        if: env.GIT_DIFF

      - run: make clippy-ci
        if: env.GIT_DIFF

  test:
    name: test
    runs-on: ubicloud-standard-4
    timeout-minutes: 45
    steps:
      - name: clear space
        run: |
          sudo rm -Rf /usr/local/julia* /usr/local/share/powershell /usr/local/lib/android /usr/local/lib/heroku
          sudo rm -Rf /opt/hostedtoolcache/CodeQL /opt/hostedtoolcache/Python /opt/hostedtoolcache/PyPy /opt/hostedtoolcache/Ruby /opt/hostedtoolcache/go/1.18.*
          sudo rm -Rf /usr/share/swift /usr/share/dotnet
          df -h
        shell: bash

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: technote-space/get-diff-action@v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            **/*.toml
            **/*.lock
            **/*.rs
            .github/**

      - name: common setup
        uses: ./.github/actions/setup
        if: env.GIT_DIFF

      - name: Build SP1 programs
        if: env.GIT_DIFF
        run: |
          cd programs/sp1/mock-consumer/program && cargo prove build --elf-name mock-consumer-sp1-guest
          cd ../../intensity-test/program && cargo prove build --elf-name intensity-test-sp1-guest
          cd ../../..
          
      - run: make test-all
        if: env.GIT_DIFF

  fmt:
    name: fmt
    runs-on: ubicloud-standard-2
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: technote-space/get-diff-action@v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            **/*.toml
            **/*.lock
            **/*.rs
            .github/**

      - uses: dtolnay/rust-toolchain@nightly
        if: env.GIT_DIFF
        with:
          components: rustfmt

      - run: make fmt-ci
        if: env.GIT_DIFF

  docs:
    name: docs
    runs-on: ubicloud-standard-2
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: technote-space/get-diff-action@v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            **/*.toml
            **/*.lock
            **/*.rs
            .github/**

      - name: common setup
        uses: ./.github/actions/setup
        if: env.GIT_DIFF

      - name: Build SP1 programs
        if: env.GIT_DIFF
        run: |
          cd programs/sp1/mock-consumer/program && cargo prove build --elf-name mock-consumer-sp1-guest
          cd ../../intensity-test/program && cargo prove build --elf-name intensity-test-sp1-guest
          cd ../../..

      - run: make doc-ci
        if: env.GIT_DIFF

  unused-deps:
    name: unused deps
    runs-on: ubicloud-standard-2
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: technote-space/get-diff-action@v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            **/*.toml
            **/*.lock
            **/*.rs
            .github/**

      - uses: dtolnay/rust-toolchain@nightly
        if: env.GIT_DIFF

      - run: cargo install cargo-machete
        if: env.GIT_DIFF

      - run: cargo machete
        if: env.GIT_DIFF
