name: rust

on:
  pull_request:
  merge_group:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_clippy:
    name: build+clippy
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: common setup
        uses: ./.github/actions/setup
      - run: cd rust && cargo build --workspace --all-targets --examples --tests
        env:
          CARGO_INCREMENTAL: 0
      - run: make -C rust clippy-ci

  test:
    name: test
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: common setup
        uses: ./.github/actions/setup
      - run: make -C rust test-all
        env:
          CARGO_INCREMENTAL: 0

  clippy:
    name: clippy
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
      - uses: dtolnay/rust-toolchain@1.79.0
        with:
          components: clippy
      - uses: taiki-e/install-action@cargo-binstall
      - run: cargo binstall cargo-risczero -y
      - run: cargo risczero install
      - run: cargo risczero --version
      - run: cargo build
      - run: make -C rust clippy-ci
        env:
          CARGO_INCREMENTAL: 0


  lint:
    name: Formatting & Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
      - uses: taiki-e/install-action@cargo-binstall
      - run: cargo binstall cargo-risczero -y
      - run: cargo risczero install
      - run: cargo risczero --version

      - uses: dtolnay/rust-toolchain@nightly
      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          toolchain: nightly
          command: fmt
          args: --all -- --check
        env:
          CARGO_INCREMENTAL: 0

      - uses: dtolnay/rust-toolchain@1.79.0
      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-features --all-targets -- -D warnings
        env:
          CARGO_INCREMENTAL: 0
          RISC0_SKIP_BUILD: true

  fmt:
    name: fmt
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - run: make -C rust fmt-ci

  docs:
    name: docs
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: common setup
        uses: ./.github/actions/setup
      - run: make -C rust doc-ci
